# Core dependencies
gradio==5.23.1
gradio_client==1.8.0
qwen-omni-utils==0.0.4
librosa==0.11.0
ffmpeg==1.4
ffmpeg-python==0.2.0
soundfile==0.13.1
modelscope_studio==1.2.2
transformers==4.52.3
accelerate
av
torch==2.6
torchvision==0.21
torchaudio==2.6

# Optional dependency
# Uncomment the following line if you need flash-attn
flash-attn==2.7.4.post1
